.imperio {
    background-color: red;
}

.rebeldes {
    background-color: blue;
}

#darth_vader {
    font-size: 2rem; /* Duplico el tamaño en base al tamaño fuente del HTML*/
}

#luke {
    font-style:italic;
}
.soldado {
    border-style:dashed;
    border-color: yellow;
    border-radius: 12px;
    box-shadow: 5px 10px 20px black;
    letter-spacing: 2px;

}

.apoyo {
    text-align: center;
}

.nave {
    text-transform: uppercase;
}